@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap') @tailwind base;

.mx-auto{
  margin-left: auto;
  margin-right: auto
}

.mt-5{
  margin-top: 1.25rem
}

.flex{
  display: flex
}

.h-full{
  height: 100%
}

.max-w-screen-lg{
  max-width: 1024px
}

.justify-center{
  justify-content: center
}

.p-4{
  padding: 1rem
}

.font-serif{
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif
}

.font-body{
  font-family: Roboto
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-bold{
  font-weight: 700
}

.text-blue-400{
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity))
}

.text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.no-underline{
  text-decoration-line: none
}

.hover\:text-blue-600:hover{
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}
